.b-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.b-product {
    max-width: 29rem;
    height: 51rem;
    box-shadow: 0 0 0.8rem 0 rgb(191 191 191 / 50%);
    border-radius: 1rem;
}
